.avatar-wrapper {
  width: 200px !important;
  height: 250px !important;
}

.avatar {
  width: 200px !important;
  height: 250px !important;
  max-width: none !important;
  max-height: none !important;
  border-radius: 10px !important;
  padding: 0 !important;
  background-color: transparent !important;
}
